
@model PetShop.Client.Models.LoginModel
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body class="bodylogin">
 <div lass="main" >
     
       
        <form class="from"  method="post" asp-action="Login"> 
            <h1 class ="title" align="center">Loggin Now</h1>

            <div class="cut" >
                <input type="text" class="un" placeholder="Enter User Name" asp-for="Username" />
            </div>
            <div>
                <input asp-for="Password" class="pass" type="password" placeholder="Enter Password" />
            </div>
            <input class="submit" type="submit" value="Login" />

            <h1 class ="title" align="center">Hello Owner !!!</h1>
        </form>
    </div>

</body>
</html>
